<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lab2_GTICS</title>
</head>
<body>
<h1>STF GAMES: El escape de los patitos de hule</h1>
<form method="post" action="/ejecutar">
    <label>Número de filas</label>
    <input type="text" name="numerofilas"/><br/>
    <label>Número de columnas</label>
    <input type="text" name="numerocolumnas"/><br/>
    <label>Posiciones iniciales</label>
    <input type="text" name="posicionesiniciales"/><br/>
    <label>Número de fotos tomadas</label>
    <input type="text" name="numerofotostomadas"/><br/>
    <input type="submit" name="Registrar"/><br/>
</form>
</body>
</html>